@model Register

<form asp-area="Account" asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="post">

    <div asp-validation-summary="All"></div>

        <div class="input_box">
            <input type="text" asp-for="Login" class="input-field" required>
            <label asp-for="Login" class="label"></label>
            <i class="bx bx-user icon"></i>
        </div>

        <div class="input_box">
            <input type="password" asp-for="Password" class="input-field" required>
            <label asp-for="Password" class="label"></label>
            <i class="bx bx-lock-alt icon"></i>
        </div>

        <div class="input_box">
            <input type="password" asp-for="ConfirmPassword" class="input-field" required>
            <label asp-for="ConfirmPassword" class="label"></label>
            <i class="bx bx-lock-alt icon"></i>
        </div>

        </div>

        <div class="input_box">
            <input type="submit" class="input-submit">
        </div>

        <div class="register">
            <span>У вас есть аккаунт?
            <a asp-area="Account" asp-controller="Account" asp-action="Login">
                    Войти
                </a>
                </span>
        </div>
</form>